html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  padding-top: 80px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*Navbar*/

.navbar-brand, .navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

.navbar-brand {
  font-size:2em;
}


/*Flag*/
#corner-flag:hover {
  -webkit-transform: translate(0px, 5px);
}

#corner-flag {
  z-index: 1033;
  transition: all .2s ease-out;
  top: -15px;
  right: 10%;
  position: absolute;
  background-color: #337ab7;
  width: 25%;
  height: 20%;
  border-radius: 15px;
}

#flag-link {
  margin-top: 12%;
  text-align: center;
}

#flag-link-text:visited, #flag-link-text:link, #flag-link-text:hover {
  text-decoration: none;
}

#flag-link-text {
  line-height:1em;
  font-size: 1.35em;
  color: white;
}

/*Map Stuff*/
#map {
  height: 100%;
}


.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

/*Info Window on Maps Marker*/

.info-window {
  max-height: 200px;
  width: auto;
}


.window-header {
  font-weight: bold;
}

.window-clinics-header {
  overflow: auto;
}

.window-clinic {

}

.right {
  float:right;
}


