html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  padding-top: 80px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*Overlay*/
#overlay{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.4); /*dim the background*/
}

/*Navbar*/

.navbar {
  background-color: white;
  /*z-index: 25;*/
}

.navbar-brand, .navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

.navbar-brand {
  font-size:2em;
}


/*Flag*/
#corner-flag:hover {
  -webkit-transform: translate(0px, 5px);
}

#corner-flag {
  z-index: 1033;
  transition: all .2s ease-out;
  top: -15px;
  right: 10%;
  position: absolute;
  background-color: #337ab7;
  width: 25%;
  height: 20%;
  border-radius: 15px;
}

#flag-link {
  margin-top: 8%;
  text-align: center;
}



#flag-link-text:visited, #flag-link-text:link, #flag-link-text:hover {
  text-decoration: none;
}

#flag-link-text {
  line-height:1em;
  font-size: 1.35em;
  color: white;
}

/*Map Stuff*/
#map {
  height: 100%;
}


.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

/*Info Window on Maps Marker*/

.info-window {
  max-height: 200px;
  width: auto;
}


.window-header {
  font-weight: bold;
}

.window-clinics-header {
  /*overflow: auto;*/
}

.window-clinic {
  min-width: 315px;

}

.right {
  position: absolute;
  right: 5px;
}


/*Test Window*/
.gm-style-iw {
    width: 350px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 10px 10px;
}
#iw-container {
    margin-bottom: 10px;
}
#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content img {
    float: right;
    margin: 0 5px 5px 10px;
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.iw-content ol {
  padding-left: 10px;
}